<h1>Lista de usuarios</h1>
<style>
  body {
    font-family: Tahoma;
    color: #444;
    letter-spacing: 1px;
  }

  h1,
  h2 {
    font-weight: normal;
  }


  #userList,
  #add-book,
  #tabbed-content {
    margin: 30px;
  }

  #userList ul,
  #tabbed-content ul {
    list-style-type: none;
    padding: 0;
  }

  #userList li {
    padding: 20px;
    border-left: 5px solid #ddd;
    margin: 20px 10px;
  }

  #userList li:hover {
    border-color: #333;
  }

  .delete {
    float: right;
    background: #333;
    padding: 6px;
    border-radius: 4px;
    cursor: pointer;
    color: white;
  }

  .delete:hover {
    background: #333;
  }

  #tabbed-content li {
    display: inline-block;
    padding: 10px 14px;
    background: #ddd;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
  }

  #tabbed-content .panel {
    display: none;
    border: 1px solid #ddd;
    padding: 0 10px;
    border-radius: 4px;
  }

  #tabbed-content .panel.active {
    display: block;
  }
</style>

<form id="searchUser">
  <input type="text" placeholder="Search user by name..." />
</form>
<br/>
<br/>
<div id="userList">
  <h2 class="title">Users</h2>
  <ul>
    {{#each user as |val|}}
    <li>
      <span class="name">{{ val.name}}</span>
      <span class="name">{{ val.lastname}}</span>
      <span class="name">{{ val.phone}}</span>
      <span class="name">{{ val.email}}</span>
      <span class="delete">Delete user</span>

    </li>
    {{/each}}
  </ul>
</div>


<!--
{{#each user as |val|}}
<ul>
  <li>
    {{ val.name}} {{val.lastname}} {{val.phone}} {{val.email}}
    <a href="/delete">Eliminar</a>
  </li>
</ul>
{{/each}}
-->
<a href="/user/form">Volver al form</a>

<script>  
  window.onload = function () {
    const list = document.querySelector('#userList ul');


    console.log('list ->', list);

    // delete
    list.addEventListener('click', (e) => {
      if (e.target.className == 'delete') {
        const li = e.target.parentElement;
        li
          .parentNode
          .removeChild(li);
      }
    });

    // filter books
    const searchBar = document.forms['searchUser'].querySelector('input');
    searchBar.addEventListener('keyup', (e) => {
      const term = e
        .target
        .value
        .toLowerCase();
      const users = list.getElementsByTagName('li');
      Array
        .from(users)
        .forEach((book) => {
          const title = book.firstElementChild.textContent;
          if (title.toLowerCase().indexOf(e.target.value) != -1) {
            book.style.display = 'block';
          } else {
            book.style.display = 'none';
          }
        });
    });
  }


</script>